.person-container {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%;
  height: 150px;
  color: #282828;
  padding: 0;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #f4e7bf;
}
.person-container:hover {
  background-color: #ead8a3;
  transition: 1ms ease-in-out;
}
.person-name {
  font-size: 18px;
  letter-spacing: 0.5px;
}
